.navbar{
    height: 67px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    .kotak{
        padding: 0 0 0 24px;
        .bitmap{
            

            .logo{
                margin-right: 13px;
            }
        
            .good-morning{
                font-size: 12px;
                height: 14px;
            }
        
            .name{
                font-size: 16px;
                font-weight: bold;
            }

        }
    }

    @media screen and (min-width: 768px){
        .kotak{
            padding: 0 0 0 213px;
        }
    }
}